.button-wrapper{
    height: 40px;
    
}
.btn{
    height: 100%;
    width: max-content;
    margin: 0 16px;
    color: #fff;
    border-radius: 4px;
}
.margin-right {
    margin-right : 1rem;
}
.btn-color-cf2122{
    background-color: #cf2122;
}